[submodule "plugins/zsh-autocomplete"]
	path = plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
